
params {

    // optional parameters
    num_designs = 1
    run_parameters = ""
    hotspot = ""
    dump_trajectories = false
    spec_overrides = ""
    if (params.containsKey("reference_files_dir")) {
        rfdiffusion3_models_path = "${params.reference_files_dir}/rfdiffusion3_models/"
    }

    // required parameters (unless input_json is provided)
    contig = null
    input_pdb = null
}

def limit_memory(memory) {
    if (!params.containsKey("max_memory")) {
        return memory;
    }
    if ((memory as nextflow.util.MemoryUnit) > (params.max_memory as nextflow.util.MemoryUnit)) {
        return params.max_memory
    }
    return memory
}

process {
    withLabel: rfdiffusion3 {
        memory = limit_memory("16 GB")
    }
}
