
params {

    // optional parameters
    output_dir = "batch1"
    if (params.containsKey("reference_files_dir")) {
        esmfold_model_path = "${params.reference_files_dir}/esmfold_v1/"
    }
    run_parameters = "" // Additional parameters to pass to the esmfold script, e.g. "--num_recycles=2 --chain=A --fp16"

    // required parameters
    input_path = null
    reference_files_dir = null
}
