params {
    // required parameters
    output_prefix = null // Prefix for output files
    pdb_dir = null // Input path to directory with PDB files
    chains = null

    tmscore_threshold = 0 // accept alignments with an alignment TMscore > thr
    alignment_type = 2 // 0: 3Di Gotoh-Smith-Waterman (local, not recommended), 1: TMalign (global, slow), 2: 3Di+AA Gotoh-Smith-Waterman (local, default)
    c = 0 // List matches above this fraction of aligned (covered) residues (see --cov-mode) (default: 0.0); higher coverage = more global alignment
    min_seq_id = 0.0 // Minimum sequence identity for alignments to be clustered default: 0.0)
}
