.idea
*.egg-info
/build
/data/*
__pycache__
.DS_Store
.env
rsconnect-python
bundle
.vscode/
/work
.pytest_cache
test/test.log
node_modules
test-results
test-results-*
workdir
ovo/pipelines/*/local/*results
dist
secrets.toml
.venv/
.nextflow/
.ipynb_checkpoints
*.global_config
/docs/build
/docs/source/apidocs/ovo
/Makefile
ovo/pipelines/protein-clustering/local/*_pdb
ovo/pipelines/protein-clustering/local/input
/ovo/pipelines/biopython-hierarchical-clustering/local/input
*CLAUDE.local.md
