params {
    reference_files_dir = ""

    // optional parameters
    max_memory = null
    target_pdb = null
    foldseek_exhaustive_search = false
    foldseek_e = 10
    foldseek_alignment_type = 2
    foldseek_embedding_metric = "qtmscore"
    foldseek_c = 0
    foldseek_tmscore_threshold = 0
    foldseek_min_seq_id = 0.0
    foldseek_s = 9.5
    // required parameters
    query_pdb = null
    n_neighbors = null
    chains = null
    workflow_name = null
}
