params {
    // required parameters
    query_pdb_dir = null // Path to directory with PDB files to be used as query
    target_pdb_dir = null // Path to directory with PDB files to be used as target
    output_dir = null // Name of output batch directory
    chains = null

    exhaustive_search = false // Skips prefilter and performs an all-vs-all alignment (more sensitive but much slower)
    e = 10 // List matches below this E-value (range 0.0-inf, default: 10); increasing it reports more distant structures
    alignment_type = 2 // 0: 3Di Gotoh-Smith-Waterman (local, not recommended), 1: TMalign (global, slow), 2: 3Di+AA Gotoh-Smith-Waterman (local, default)
    format_output = "query,target,fident,qtmscore,alntmscore,u,t"
    c = 0 // List matches above this fraction of aligned (covered) residues (see --cov-mode) (default: 0.0); higher coverage = more global alignment
    s = 9.5 // Adjust sensitivity to speed trade-off; lower is faster, higher more sensitive (fast: 7.5, default: 9.5)
    prefilter_mode = 0 // 0: kmer/ungapped (default), 1: ungapped, 2: nofilter, 3: ungapped&gapped
}
