
params {

    // required parameters
    // pdb_dir: Input path - .pdb file, .txt list of .pdb paths, or directory ending with /
    pdb_dir = null
    // binder_chain: Chain ID of the binder
    binder_chain = "A"
    // target_chain: Chain ID of the target
    target_chain = "B"

    // optional parameters
    batch_size = 50
}
