params {
    // required parameters
    input_pdb_dir = null // Path to directory with PDB files to cluster
    output_dir = null // Name of output batch directory
    chains = null
    cyclic = null // Is the structure cyclic or not
    similarity_method = null // Similarity method to use

    // optional parameters
    dssp_csv = null // Path to CSV file with DSSP annotations for the input PDB files. Required if similarity_method is 'secondary_structure'
    interface_residues_csv = null // Path to CSV file with interface residues for the input PDB files. Required if similarity_method is 'interface_residues'
    linkage_method = "average" // Linkage method for hierarchical clustering
    threshold = 2.0 // Threshold for clustering
    criterion = "distance" // Criterion for clustering
}
